@using Mohajer.Useful.Static
@{
}
<div id="id01" class="w3-modal w3-animate-opacity font_IRANSans">
    <div class="w3-modal-content w3-card-4" style="z-index: 1055; position: fixed; top: auto; bottom: 0; right: auto; left: auto; ">
        <header class="w3-container w3-green">
            <span onclick="document.getElementById('id01').style.display='none'"
                  class="w3-button w3-large w3-display-topright">&times;</span>
            <h2 class="ml-lg-5"> برنامه نویس سایت</h2>
        </header>
        <div class="w3-container">
            <p> برنامه نویسی سایت ، سامانه و اپلیکیشن موبایل</p>
            <p>مهندس کامبیز زارع ابراهیمی </p>
            <p>شماره تماس :09108496094</p>
            <p> آدرس پست الکترونیکی :<span class=""> kampergig@gmail.com</span></p>
        </div>
        <footer class="w3-container w3-light-green">
            <p>با تشکر از حسن نظر شما </p>
        </footer>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <a class="logo-footer" href="~/Home/Index">صفحه نخست<span class="text-primary">.</span></a>
                <p class="mt-4">گروه تواشیح و همسرایی نورالشهدا در سال 1397 در شهر جدید پردیس در شرق تهران شروع به کار و فعالیت فرهنگی نموده است</p>
                <div class="content mt-3">
                    <h4 class="title font-weight-bold">تلفن تماس </h4>
                    <p class="text-muted">شما می توانید با استفاده از شماره تماس زیر برای هماهنگی برای اجرا با ما در تماس باشید</p>
                    <a href="tel:@Aboute_page.AboutePhon" class="text-foot footer-head">@Aboute_page.AboutePhon</a>
                </div>
                <ul class="list-unstyled social-icon social mb-0 mt-4">
                    <li class="list-inline-item"><a href="~/Landrick/layouts/javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="فیس بوک"></i></a></li>
                    <li class="list-inline-item"><a href="~/Landrick/layouts/javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="اینستاگرام"></i></a></li>
                    <li class="list-inline-item"><a href="~/Landrick/layouts/javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="توییتر"></i></a></li>
                </ul><!--end icon-->
            </div><!--end col-->

            <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h4 class="text-light footer-head">لینک کاربردی</h4>
                <ul class="list-unstyled footer-list mt-4">
                    <li><a href="~/Home/Page_Aboutus" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> درباره ما</a></li>
                    <li><a href="#MyTeam" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> تیم</a></li>
                    <li><a href="#" class="text-foot" onclick="document.getElementById('id01').style.display='block'"><i class="mdi mdi-chevron-right mr-1"></i>  تماس با برنامه نویس</a></li>
                </ul>
            </div><!--end col-->


            @await Component.InvokeAsync("FooterProduct")



         
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
