@*

*@
<section class="home-slider position-relative">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image:url('/Landrick/layouts/images/coworking/bg01.jpg');">
                <div class="home-center">
                    <div class="home-desc-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 text-center">
                                    <div class="title-heading mt-4">
                                        <h6 class="text-light animated fadeInDownBig animation-delay-1">دفتر خصوصی و فضای همکاری مشترک برای <span class="text-success">49000 تومان</span></h6>
                                        <h1 class="heading mb-3 text-white animated fadeInUpBig animation-delay-3">فضای همکار برای موفقیت</h1>
                                        <p class="para-desc text-light mx-auto animated fadeInUpBig animation-delay-7">کمپین خود را راه اندازی کنید و از تخصص ما در زمینه طراحی و مدیریت تبدیل صفحه محور اچ تی ام ال بهره مند شوید.</p>
                                        <div class="mt-4 pt-2 animated fadeInUpBig animation-delay-11">
                                            <a href="~/Landrick/layouts/javascript:void(0)" class="btn btn-primary mt-2"><i class="mdi mdi-email"></i> شروع کنید</a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </div>
                </div>
            </div><!--end carousel item-->

            <div class="carousel-item" style="background-image:url('/Landrick/layouts/images/coworking/bg02.jpg');">
                <div class="home-center">
                    <div class="home-desc-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 text-center">
                                    <div class="title-heading mt-4">
                                        <h6 class="text-light animated fadeInDownBig animation-delay-1">بهترین همکار در شهر</h6>
                                        <h1 class="heading mb-3 text-white animated fadeInUpBig animation-delay-3">فضای اداری در ایران</h1>
                                        <p class="para-desc mx-auto text-light animated fadeInUpBig animation-delay-7">کمپین خود را راه اندازی کنید و از تخصص ما در زمینه طراحی و مدیریت تبدیل صفحه محور اچ تی ام ال بهره مند شوید.</p>
                                        <div class="text-center subcribe-form mt-4 pt-2 animated fadeInUpBig animation-delay-11">
                                            <form>
                                                <div class="form-group">
                                                    <input type="email" id="email" name="email" class=" rounded" placeholder="ایمیل">
                                                    <button type="submit" class="btn btn-primary">رزرو فضا</button>
                                                </div>

                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                                        <label class="custom-control-label text-white" for="customCheck">من قبول میکنم <a href="~/Landrick/layouts/#" class="text-success">تمامی قوانین سایت لندریک را</a></label>
                                                    </div>
                                                </div>
                                            </form><!--end form-->
                                        </div><!--end subscribe form-->
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </div>
                </div>
            </div><!--end carousel item-->

            <div class="carousel-item" style="background-image:url('/Landrick/layouts/images/coworking/bg03.jpg');">
                <div class="home-center">
                    <div class="home-desc-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 text-center">
                                    <div class="title-heading mt-4">
                                        <h6 class="text-light animated fadeInDownBig animation-delay-1">فضای ما برای شما</h6>
                                        <h1 class="heading mb-3 text-white animated fadeInUpBig animation-delay-3">صاحب دفتر خود برای یک روز</h1>
                                        <p class="para-desc mx-auto text-light animated fadeInUpBig animation-delay-7">کمپین خود را راه اندازی کنید و از تخصص ما در زمینه طراحی و مدیریت تبدیل صفحه محور اچ تی ام ال بهره مند شوید.</p>
                                        <div class="watch-video mt-4 pt-2 animated fadeInUpBig animation-delay-11">
                                            <a href="https://www.aparat.com/v/qE5PA" class="video-play-icon watch text-white mb-2 ml-2"><i class="mdi mdi-play play-icon-circle text-center d-inline-block mr-2 rounded-pill text-white position-relative play play-iconbar"></i> نمایش ویدیو</a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </div>
                </div>
            </div><!--end carousel item-->
        </div><!--end carousel inner-->
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">قبلی</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">بعدی</span>
        </a>
    </div><!--end carousel-->
</section><!--end section-->
<!-- Hero End -->