<section class="section">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img src="images/coworking/cta.jpg" class="rounded img-fluid" alt="">
                </div><!--end col-->

                <div class="col-lg-6 text-center">
                    <div class="section-title p-5">
                        <a href="http://vimeo.com/287684225" class="play-btn mt-0 border text-center video-play-icon">
                            <i class="mdi mdi-play text-dark"></i>
                        </a>
                        <h4 class="title mb-4 mt-4">ما رویای خلاق و همکار هستیم</h4>
                        <p class="text-muted mx-auto para-desc mb-0">شروع به کار با لندریک که می تواند همه چیز را برای ایجاد آگاهی ، ترافیک رانندگی ، اتصال فراهم کند.</p>
                    </div>
                </div><!--end col-->
            </div><!--end row -->
        </div><!--end div-->
    </div><!--end container-->
    
</section>